__pycache__/
**/__pycache__/

# environment variables
.env

# Data
vjdatabase/
japanese_datasets/
hard_negative_ja_round1_for_training_round2/

# Model
temp/
pretrained_model/

# file no push
push_data_to_hub.py
push_checkpoint_to_hub.py

# create root data
create_root_data/Law2Contract/Data/